<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 아무이름 가능 -->
<mapper namespace="NaverShoppingMapper">
  <!-- id 도 중요 자기가 정한 이름으로  -->
  <select id="selectList">
    SELECT productId, title, image
    , category1, category2, category3, category4, buyCount
    , DATE_FORMAT(insertDate , '%Y-%m-%d %H:%i:%S' ) as insertDate
    , DATE_FORMAT(updateDate , '%Y-%m-%d %H:%i:%S' ) as updateDate
    FROM react.product_naver
    WHERE buyCount >= 1
    <if test='dateInfo != null and dateInfo != ""'>
      AND DATE_FORMAT(insertDate,'%Y-%m') = #{dateInfo}
    </if>
    <if test='choosedCategory != null and choosedCategory != ""'>
      AND category1 = #{choosedCategory}
    </if>
  </select>
  <select id="groupby">
    SELECT category1, SUM(buyCount)
    FROM react.product_naver
    <if test='dateInfo != null and dateInfo != ""'>
      WHERE DATE_FORMAT(insertDate,'%Y-%m') = #{dateInfo}
    </if>
    GROUP BY category1 
  </select>
  <insert id="purchasing" >
    INSERT into react.product_naver(
    productId, title, image
      , category1, category2, category3, category4
      , buyCount
      , insertDate
      , updateDate
    ) VALUES (
        #{item.productId}, #{item.title},#{item.image},
        #{item.category1},#{item.category2},#{item.category3},#{item.category4},
        1,
        NOW(),
        NOW()
      )
    ON DUPLICATE KEY UPDATE
    buyCount = buyCount + 1,
    updateDate = NOW()
  </insert>
</mapper>
